.home-wrapper {
    .home-button-wrapper {
        display: flex;
        justify-content: space-between;

        a {
            border: 2px;
            border-radius: 5px;
            padding: 10px;
            width: 135px;
            text-align: center;
            background-color:darkolivegreen;
        }
    }
}