.home-wrapper {
    .home-button-wrapper {
        display: flex;
        justify-content: space-between;

        a {
            margin: 15px;
            border: 2px;
            border-radius: 0px;
            padding: 30px;
            width: 135px;
            text-align: center;
            border: 1px solid black;
            background-color:lightsteelblue;
        }
    }
}