.parks-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .parks-wrapper {
        margin-top: 20px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        justify-items: center;
        padding-bottom: 20px;
    
        .parks-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-radius: 0px;
            background-color:lightsteelblue;
            padding: 10px;
        }
    }
}